/Hello_World/nbproject/private/
/Hello_World/build/
/systemInRead/nbproject/private/
/systemInRead/build/
/Cicle_FOR/nbproject/private/
/Cicle_FOR/build/
/DEMO_String/nbproject/private/
/DEMO_String/build/
/DemoScanner/nbproject/private/
/DemoScanner/build/
/ClassDemo/nbproject/private/
/ClassDemo/build/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication2/build/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/build/
/JavaFXApplication3/dist/
/JavaFXApplication4/nbproject/private/
/JavaFXApplication4/build/
/JavaFXApplication4/dist/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/GUIFormExamples/nbproject/private/
/GUIFormExamples/build/
/JavaApplication15/nbproject/private/
/JavaApplication15/build/
/Void/nbproject/private/
/Void/build/
/Calculator/nbproject/private/
/JavaApplication17/nbproject/private/
/JavaApplication17/build/
/Class/nbproject/private/
/Class/build/